In [1]:
# project: p5
# submitter: cjhon
# partner: none
# hours: 10

In [2]:
import pandas as pd
import zipfile
import edgar_utils
import os
import numpy as np
import graphviz

In [3]:
#q1
zf = zipfile.ZipFile('server_log.zip')
df = pd.read_csv(zf.open('rows.csv'))
   
int(df['size'].sum())

24801002666

In [4]:
#q2
ip_count = df["ip"].value_counts()
top_10_ip = dict(ip_count[0:10])
top_10_ip

{'54.152.17.ccg': 12562,
 '183.195.251.hah': 6524,
 '52.45.218.ihf': 5562,
 '68.180.231.abf': 5493,
 '204.212.175.bch': 4708,
 '103.238.106.gif': 4428,
 '208.77.215.jeh': 3903,
 '208.77.214.jeh': 3806,
 '217.174.255.dgd': 3551,
 '82.13.163.caf': 3527}

In [5]:
#q3
status_count = df["code"]
total = len(status_count)
greater_than_400_count = 0
for code in status_count:
    if code >= 400:
        greater_than_400_count += 1
fraction = greater_than_400_count/total
fraction

0.03466852724527611

In [6]:
#q4
big_dict_2 = {}
grouping = df.groupby(['cik','accession','extention']).size()
most_accessed = grouping.idxmax()
elements = []
for i in most_accessed:
    if type(i) != str :
        i = int(i)
    elements.append(i)
string_form = '/'.join([str(item) for item in elements])
string_form

'1627631/0001627631-15-000004/.txt'

In [7]:
#q5
df['crawler'].value_counts().at[1.0]

971

In [8]:
ips= df['ip'].value_counts()
ips = pd.DataFrame(ips)
ips = ips.reset_index()
ips =ips.rename(columns={"index": "ip_address", "ip":"count"})
ips['country'] = ips[['ip_address']].applymap(edgar_utils.lookup_region)
ips

           ip_address  count                   country
0       54.152.17.ccg  12562  United States of America
1     183.195.251.hah   6524                     China
2       52.45.218.ihf   5562  United States of America
3      68.180.231.abf   5493  United States of America
4     204.212.175.bch   4708  United States of America
...               ...    ...                       ...
2494    77.57.170.dci      1               Switzerland
2495   163.172.66.aea      1                    France
2496    198.52.97.edc      1  United States of America
2497   115.114.46.jfc      1                     India
2498   123.125.71.fjb      1                     China

[2499 rows x 3 columns]

In [9]:
#q6
ips.value_counts('country').index[0]

'United States of America'

In [10]:
#q7

return_dict = {}
for country in ips['country'].unique():
    country_all_ips = ips[ips['country'] ==country]
    country_high = country_all_ips[country_all_ips['count']>1000]
    
    all_ip_count = len(country_all_ips['ip_address'].unique())
    high_ip_count = len(country_high['ip_address'].unique())
    return_dict[country] = high_ip_count/all_ip_count
#     print(country, high_ip_count/all_ip_count)
return_dict

{'United States of America': 0.019862490450725745,
 'China': 0.006864988558352402,
 'India': 0.058823529411764705,
 'United Kingdom of Great Britain and Northern Ireland': 0.06666666666666667,
 'Korea (Republic of)': 0.2,
 'Canada': 0.017857142857142856,
 'France': 0.0036900369003690036,
 'Bulgaria': 0.3333333333333333,
 'Ireland': 0.3125,
 'Australia': 0.07692307692307693,
 'Hong Kong': 0.0,
 'Germany': 0.0,
 'Czechia': 0.0,
 'Estonia': 0.0,
 'Viet Nam': 0.0,
 'Poland': 0.0,
 'Netherlands': 0.0,
 '-': 0.0,
 'Slovakia': 0.0,
 'Russian Federation': 0.0,
 'Spain': 0.0,
 'Indonesia': 0.0,
 'Ukraine': 0.0,
 'Croatia': 0.0,
 'Italy': 0.0,
 'Taiwan (Province of China)': 0.0,
 'Virgin Islands (British)': 0.0,
 'Liberia': 0.0,
 'Singapore': 0.0,
 'Denmark': 0.0,
 'Romania': 0.0,
 'Luxembourg': 0.0,
 'Switzerland': 0.0,
 'Israel': 0.0,
 'Philippines': 0.0,
 'Egypt': 0.0,
 'Brazil': 0.0,
 'Honduras': 0.0,
 'Greece': 0.0,
 'Sweden': 0.0,
 'Japan': 0.0,
 'Cyprus': 0.0,
 'Latvia': 0.0,
 'Thailand': 0.0,
 'South Africa': 0.0,
 'Malaysia': 0.0,
 'Jersey': 0.0,
 'Lebanon': 0.0,
 'Syrian Arab Republic': 0.0,
 'Mongolia': 0.0,
 'Angola': 0.0,
 'Saudi Arabia': 0.0,
 'Mexico': 0.0,
 'Iraq': 0.0,
 'Hungary': 0.0,
 'Jordan': 0.0,
 'Turkey': 0.0,
 'Pakistan': 0.0,
 'Austria': 0.0,
 'Portugal': 0.0,
 'Venezuela (Bolivarian Republic of)': 0.0,
 'Nigeria': 0.0,
 'Algeria': 0.0,
 'Armenia': 0.0,
 'Bangladesh': 0.0,
 'Sudan': 0.0,
 'Yemen': 0.0,
 'Tanzania, United Republic of': 0.0,
 'Morocco': 0.0,
 'North Macedonia': 0.0,
 'Finland': 0.0,
 'Slovenia': 0.0}

In [11]:
filing_dict = {}
with zipfile.ZipFile('docs.zip') as z:
    for filename in z.namelist():
        info = z.getinfo(filename)  #object: Zipinfo
        
        if not info.is_dir():
            with z.open(filename) as myfile:
                html = myfile.read().decode("utf-8")

                temp = edgar_utils.Filing(html)
                filing_dict[filename] = temp

In [12]:
#q8
filing_dict['850693/0000850693-07-000159/-index.htm'].dates

['2007-07-25', '2007-07-25', '2007-07-23']

In [13]:
#q9
state_count = {}
for file in filing_dict:
    state = filing_dict[file].state()
    if( state ==None):
        continue
    if not state in state_count:
        state_count[state] = 0
    state_count[state]+=1
state_count

{'OX': 6,
 'NJ': 23,
 'MS': 1,
 'MA': 30,
 'CA': 91,
 'CO': 25,
 'NY': 83,
 'TX': 64,
 'FL': 21,
 'AL': 1,
 'IN': 4,
 'CT': 14,
 'UT': 5,
 'MD': 13,
 'KS': 5,
 'VA': 15,
 'OH': 10,
 'SD': 1,
 'DE': 10,
 'IL': 25,
 'GA': 8,
 'NC': 9,
 'PA': 25,
 'TN': 4,
 'MN': 15,
 'NM': 1,
 'KY': 2,
 'OK': 7,
 'AR': 1,
 'NV': 6,
 'VT': 1,
 'MO': 4,
 'MI': 11,
 'NE': 2,
 'IA': 6,
 'AZ': 5,
 'WI': 9,
 'LA': 2,
 'ID': 1,
 'OR': 2,
 'WV': 2,
 'WA': 3,
 'DC': 1,
 'ME': 1}

In [14]:
#q10
sic_count = {}
for file in filing_dict:
    sic_num = filing_dict[file].sic
    if( sic_num ==None):
        continue
    if not sic_num in sic_count:
        sic_count[sic_num] = 0
    sic_count[sic_num]+=1
sic_count

{2834: 40,
 6022: 20,
 1311: 20,
 6189: 17,
 6211: 17,
 8731: 2,
 1389: 19,
 7370: 7,
 3571: 1,
 7361: 1,
 3674: 5,
 4931: 5,
 1040: 2,
 2810: 2,
 7389: 11,
 3140: 1,
 7374: 4,
 6200: 1,
 7381: 1,
 3620: 3,
 3841: 6,
 4941: 1,
 5621: 1,
 7330: 1,
 6199: 8,
 6798: 20,
 2510: 4,
 3990: 2,
 1700: 5,
 7371: 6,
 5940: 2,
 4522: 5,
 1731: 2,
 6311: 2,
 8082: 2,
 2836: 13,
 6021: 20,
 1000: 11,
 4911: 8,
 6324: 2,
 8051: 1,
 6035: 4,
 3550: 1,
 4813: 4,
 6321: 2,
 2890: 1,
 3845: 2,
 2860: 8,
 1221: 2,
 3669: 2,
 6411: 1,
 5900: 2,
 2320: 1,
 6221: 3,
 6331: 10,
 2070: 1,
 8742: 5,
 3829: 3,
 900: 5,
 5500: 2,
 7372: 11,
 6770: 1,
 4841: 2,
 4833: 1,
 7384: 1,
 6799: 3,
 3826: 5,
 8711: 2,
 5160: 1,
 5944: 1,
 3420: 3,
 3510: 3,
 5960: 1,
 3842: 4,
 8062: 3,
 6029: 11,
 7320: 1,
 5172: 2,
 1382: 2,
 3663: 4,
 1400: 3,
 7822: 1,
 2024: 1,
 2080: 1,
 7812: 2,
 4922: 2,
 2030: 1,
 3576: 3,
 2711: 1,
 3578: 1,
 3679: 2,
 2842: 1,
 4899: 1,
 100: 1,
 3541: 1,
 7311: 1,
 3317: 1,
 2033: 1,
 3721: 1,
 3621: 2,
 3730: 1,
 5122: 2,
 3585: 1,
 3944: 1,
 5812: 4,
 3661: 2,
 3577: 2,
 3711: 1,
 2800: 3,
 3490: 1,
 4924: 1,
 3537: 1,
 8093: 1,
 6141: 2,
 4412: 1,
 3272: 2,
 2911: 1,
 7200: 3,
 3695: 2,
 6282: 8,
 6513: 1,
 6099: 1,
 7373: 3,
 3559: 2,
 7350: 1,
 3690: 2,
 3714: 1,
 7363: 1,
 2111: 2,
 3825: 2,
 8200: 1,
 5990: 1,
 3630: 1,
 1531: 2,
 1381: 1,
 5961: 1,
 2870: 2,
 5030: 1,
 5731: 1,
 2780: 1,
 2820: 1,
 2670: 1,
 3312: 1,
 3590: 1,
 4812: 2,
 5065: 2,
 6036: 1,
 7900: 2,
 5661: 2,
 2790: 1,
 7340: 1,
 5651: 1,
 3442: 1,
 6500: 1,
 4512: 2,
 7841: 1,
 8090: 1,
 4955: 1,
 5311: 1,
 2750: 1,
 7830: 2,
 4213: 1,
 3672: 1,
 5531: 1,
 2430: 1,
 6111: 1,
 5945: 1,
 3678: 1,
 6792: 1,
 3827: 1,
 3443: 1,
 7990: 1,
 2273: 1,
 1623: 1}

We have to look at file paths in server_logs.zip which are found in rows.csv. Then we can check if the file paths in there also show up in docs.zip.Â

In [15]:
df['cik']=df['cik'].astype(int)
temp_df = df.groupby(['cik','accession', 'extention']).size().reset_index()  # groupby the cik and stuffs
temp_df.head()

                   cik             accession   extention  0
0 -9223372036854775808  0000902664-13-001995  -index.htm  1
1 -9223372036854775808  0000902664-13-003374  -index.htm  1
2 -9223372036854775808  0000902664-14-002822  -index.htm  1
3 -9223372036854775808  0001140361-13-005688  -index.htm  1
4 -9223372036854775808  0001464631-12-000001  -index.htm  1

In [16]:
# merging into the frame
summed = temp_df['cik'].astype('string')+'/'+temp_df['accession']+'/'+temp_df['extention']
temp_df['summed'] = summed
temp_df.loc[temp_df[0]>225]

,cik,accession,extention,0,summed
12229,95521,0000095521-16-000309,svu-20160910.xml,265,95521/0000095521-16-000309/svu-20160910.xml
12230,95521,0000095521-16-000309,svu-20160910.xsd,240,95521/0000095521-16-000309/svu-20160910.xsd
12231,95521,0000095521-16-000309,svu-20160910_cal.xml,281,95521/0000095521-16-000309/svu-20160910_cal.xml
12232,95521,0000095521-16-000309,svu-20160910_def.xml,252,95521/0000095521-16-000309/svu-20160910_def.xml
12233,95521,0000095521-16-000309,svu-20160910_lab.xml,291,95521/0000095521-16-000309/svu-20160910_lab.xml
12234,95521,0000095521-16-000309,svu-20160910_pre.xml,283,95521/0000095521-16-000309/svu-20160910_pre.xml
26043,799288,0000799288-16-000197,le-20161028.xml,297,799288/0000799288-16-000197/le-20161028.xml
26044,799288,0000799288-16-000197,le-20161028.xsd,268,799288/0000799288-16-000197/le-20161028.xsd
26045,799288,0000799288-16-000197,le-20161028_cal.xml,284,799288/0000799288-16-000197/le-20161028_cal.xml
26046,799288,0000799288-16-000197,le-20161028_def.xml,283,799288/0000799288-16-000197/le-20161028_def.xml
26047,799288,0000799288-16-000197,le-20161028_lab.xml,320,799288/0000799288-16-000197/le-20161028_lab.xml
26048,799288,0000799288-16-000197,le-20161028_pre.xml,277,799288/0000799288-16-000197/le-20161028_pre.xml
78228,1166388,0001166388-16-000267,vrnt-20161031.xml,232,1166388/0001166388-16-000267/vrnt-20161031.xml
78230,1166388,0001166388-16-000267,vrnt-20161031_cal.xml,258,1166388/0001166388-16-000267/vrnt-20161031_cal...
78232,1166388,0001166388-16-000267,vrnt-20161031_lab.xml,227,1166388/0001166388-16-000267/vrnt-20161031_lab...
78233,1166388,0001166388-16-000267,vrnt-20161031_pre.xml,234,1166388/0001166388-16-000267/vrnt-20161031_pre...
116693,1584509,0001584509-16-000514,armk-20160930.xml,519,1584509/0001584509-16-000514/armk-20160930.xml
116694,1584509,0001584509-16-000514,armk-20160930.xsd,542,1584509/0001584509-16-000514/armk-20160930.xsd
116695,1584509,0001584509-16-000514,armk-20160930_cal.xml,563,1584509/0001584509-16-000514/armk-20160930_cal...
116696,1584509,0001584509-16-000514,armk-20160930_def.xml,569,1584509/0001584509-16-000514/armk-20160930_def...
116697,1584509,0001584509-16-000514,armk-20160930_lab.xml,560,1584509/0001584509-16-000514/armk-20160930_lab...
116698,1584509,0001584509-16-000514,armk-20160930_pre.xml,530,1584509/0001584509-16-000514/armk-20160930_pre...
119590,1627631,0001627631-15-000004,.txt,601,1627631/0001627631-15-000004/.txt
121604,1663897,0001654954-16-003893,infoTable.xml,236,1663897/0001654954-16-003893/infoTable.xml

In [17]:
summed = temp_df['cik'].astype('string')+'/'+temp_df['accession']+'/'+temp_df['extention']
df['summed'] = summed
df.head()

,ip,date,time,zone,cik,accession,extention,code,size,idx,norefer,noagent,find,crawler,browser,summed
0,104.197.32.ihd,2017-01-01,00:00:00,0.0,1111711,0001193125-12-324016,-index.htm,200.0,7627.0,1.0,0.0,0.0,10.0,0.0,NaN,-9223372036854775808/0000902664-13-001995/-ind...
1,208.77.214.jeh,2017-01-01,00:00:00,0.0,789019,0001193125-06-031505,.txt,200.0,46327.0,0.0,0.0,0.0,10.0,0.0,NaN,-9223372036854775808/0000902664-13-003374/-ind...
2,54.197.228.dbe,2017-01-01,00:00:00,0.0,800166,0001279569-16-003038,-index.htm,200.0,16414.0,1.0,0.0,0.0,10.0,0.0,NaN,-9223372036854775808/0000902664-14-002822/-ind...
3,108.39.205.jga,2017-01-01,00:00:01,0.0,354950,0000950123-09-011236,-index.htm,200.0,8718.0,1.0,0.0,0.0,10.0,0.0,NaN,-9223372036854775808/0001140361-13-005688/-ind...
4,52.45.218.ihf,2017-01-01,00:00:01,0.0,1313918,0001209191-06-031555,.txt,200.0,8911.0,0.0,0.0,0.0,10.0,0.0,NaN,-9223372036854775808/0001464631-12-000001/-ind...

In [18]:
#q11
log_doc = {}
for file in filing_dict:
    sic = filing_dict[file].sic
    if(sic == None):
        continue

    found_row = temp_df.loc[temp_df['summed']==file]
    count = found_row[0].iat[0]
    
    if(not sic in log_doc):
        log_doc[sic] = 0
    log_doc[sic] +=count
log_doc

{2834: 984,
 6022: 379,
 1311: 550,
 6189: 18,
 6211: 237,
 8731: 25,
 1389: 656,
 7370: 39,
 3571: 6,
 7361: 1,
 3674: 5,
 4931: 70,
 1040: 2,
 2810: 2,
 7389: 26,
 3140: 1,
 7374: 94,
 6200: 1,
 7381: 1,
 3620: 50,
 3841: 14,
 4941: 1,
 5621: 99,
 7330: 1,
 6199: 11,
 6798: 90,
 2510: 171,
 3990: 34,
 1700: 31,
 7371: 229,
 5940: 2,
 4522: 22,
 1731: 11,
 6311: 2,
 8082: 2,
 2836: 429,
 6021: 204,
 1000: 273,
 4911: 8,
 6324: 30,
 8051: 1,
 6035: 7,
 3550: 1,
 4813: 4,
 6321: 21,
 2890: 2,
 3845: 2,
 2860: 226,
 1221: 2,
 3669: 2,
 6411: 3,
 5900: 35,
 2320: 1,
 6221: 85,
 6331: 91,
 2070: 33,
 8742: 27,
 3829: 73,
 900: 39,
 5500: 4,
 7372: 16,
 6770: 2,
 4841: 108,
 4833: 7,
 7384: 1,
 6799: 46,
 3826: 56,
 8711: 2,
 5160: 1,
 5944: 33,
 3420: 3,
 3510: 66,
 5960: 1,
 3842: 87,
 8062: 3,
 6029: 83,
 7320: 1,
 5172: 36,
 1382: 2,
 3663: 23,
 1400: 3,
 7822: 1,
 2024: 1,
 2080: 1,
 7812: 25,
 4922: 31,
 2030: 1,
 3576: 3,
 2711: 1,
 3578: 1,
 3679: 5,
 2842: 1,
 4899: 1,
 100: 1,
 3541: 1,
 7311: 1,
 3317: 1,
 2033: 1,
 3721: 1,
 3621: 38,
 3730: 1,
 5122: 34,
 3585: 1,
 3944: 1,
 5812: 19,
 3661: 2,
 3577: 2,
 3711: 1,
 2800: 3,
 3490: 1,
 4924: 1,
 3537: 1,
 8093: 1,
 6141: 2,
 4412: 43,
 3272: 81,
 2911: 1,
 7200: 94,
 3695: 55,
 6282: 171,
 6513: 38,
 6099: 1,
 7373: 48,
 3559: 20,
 7350: 1,
 3690: 2,
 3714: 1,
 7363: 1,
 2111: 2,
 3825: 164,
 8200: 1,
 5990: 1,
 3630: 1,
 1531: 4,
 1381: 31,
 5961: 1,
 2870: 2,
 5030: 1,
 5731: 1,
 2780: 1,
 2820: 1,
 2670: 1,
 3312: 31,
 3590: 24,
 4812: 4,
 5065: 2,
 6036: 1,
 7900: 2,
 5661: 2,
 2790: 1,
 7340: 40,
 5651: 1,
 3442: 1,
 6500: 1,
 4512: 42,
 7841: 1,
 8090: 32,
 4955: 23,
 5311: 90,
 2750: 1,
 7830: 62,
 4213: 35,
 3672: 1,
 5531: 1,
 2430: 6,
 6111: 1,
 5945: 1,
 3678: 4,
 6792: 19,
 3827: 1,
 3443: 1,
 7990: 1,
 2273: 1,
 1623: 1}

In [19]:
#q12
hourly_request = {}
temp_hour = pd.to_datetime(df['time'])
temp_hour_count = temp_hour.dt.hour.value_counts()
temp_hour_count.to_dict()

{9: 11033,
 5: 9783,
 3: 8850,
 2: 8550,
 4: 8343,
 0: 8305,
 8: 8292,
 1: 8242,
 7: 8213,
 6: 7761,
 14: 6654,
 15: 6512,
 17: 6487,
 11: 6435,
 10: 6377,
 18: 6356,
 23: 6283,
 19: 6211,
 21: 6164,
 12: 6155,
 22: 6098,
 20: 6066,
 13: 6006,
 16: 5680}

In [20]:
ip_summed = df[['ip','summed']]
ip_summed_without_null = ip_summed[ip_summed['summed'].notnull()]
ip_summed_without_null
ip_summed.head(1)

               ip                                             summed
0  104.197.32.ihd  -9223372036854775808/0000902664-13-001995/-ind...

In [21]:
ips

           ip_address  count                   country
0       54.152.17.ccg  12562  United States of America
1     183.195.251.hah   6524                     China
2       52.45.218.ihf   5562  United States of America
3      68.180.231.abf   5493  United States of America
4     204.212.175.bch   4708  United States of America
...               ...    ...                       ...
2494    77.57.170.dci      1               Switzerland
2495   163.172.66.aea      1                    France
2496    198.52.97.edc      1  United States of America
2497   115.114.46.jfc      1                     India
2498   123.125.71.fjb      1                     China

[2499 rows x 3 columns]

In [22]:
edges['France']

NameError: name 'edges' is not defined

In [ ]:
edges['France'].add("HI")
edges

In [ ]:
df

In [ ]:
ips.head(1)

In [ ]:
ips[['ip_address','country']]

In [ ]:
df_country = pd.merge(ips, df, how='right', left_on='ip_address', right_on='ip')
df_country
edges = {}

countries = ['Australia', 'France', 'Viet Nam']

for country in countries:

# country = 'France'
#     country = 'Australia'
    edges[country] = set()

    country_ip = df_country.loc[df_country['country']==country]
    # country_ip.head(1)

    country_file_names = list(country_ip['summed'])
    for file_name in country_file_names:
        if(file_name in filing_dict):
#             print(file_name)
            state = filing_dict[file_name].state()
#             print(state)
            if state!=None:
                edges[country].add(state)
            
            
d= graphviz.Digraph()
for country, states in edges.items():
    for state in states:
        d.edge(country,state)

country_df
d

In [ ]:
merged_country_summed

In [ ]:
#q13
overlap = {}
for i, row in df.iterrows():
    region = edgar_utils.lookup_region(row['ip'])
    if region =="Australia" or region =="France" or region =="Viet Nam":
        filename = str(int(row["cik"]))+"/"+row["accession"]+"/"+row["extention"]
        if region not in overlap:
            overlap[region] = [filename]
        else:
            overlap[region].append(filename)
            
# draw Digraph
d= graphviz.Digraph()
for country, states in overlap.items():
    for state in states:
        d.edge(country,state)
d

In [ ]:
#q13
overlap = {}
for i, row in df.iterrows():
    region = edgar_utils.lookup_region(row['ip'])
    if region =="Australia" or region =="France" or region =="Viet Nam":
        filename = str(int(row["cik"]))+"/"+row["accession"]+"/"+row["extention"]
        if region not in overlap:
            overlap[region] = [filename]
        else:
            overlap[region].append(filename)
            
# draw Digraph
d= graphviz.Digraph()
for country, states in overlap.items():
    for state in states:
        d.edge(country,state)
d

ì—¬ê¸°ê¹Œì§€

In [ ]:
#q13
overlap = {}
countries = ['Australia', 'France', 'Viet Nam']

merged_country_summed = pd.merge(df,ips, how='right', left_on='ip', right_on='ip_address')

for country_name in countries:
#     print(country_name)
    
    country_df = country_state.loc[merged_country_summed['country']==country_name]
    overlap[country_name] = set()
    
#     print(overlap)
#     print(country_df)
    for valid_file in country_df['summed']:
        if valid_file in filing_dict:
#             print(filing_dict[valid_file].state())
            state = filing_dict[valid_file].state()
            if state !=None:
                overlap[country_name].add(filing_dict[valid_file].state())
#     print(overlap)
    break
print(overlap)

In [ ]:
# draw Digraph
d= graphviz.Digraph()
for country, states in overlap.items():
    for state in states:
        d.edge(country,state)

country_df
# d

In [ ]:
#q13
overlap = {}
countries = ['Australia', 'France', 'Viet Nam']

merged_country_summed = pd.merge(df,ips, how='left', left_on='ip', right_on='ip_address')

for country_name in countries:
#     print(country_name)
    
    country_df = merged_country_summed.loc[merged_country_summed['country']==country_name]
    valid_files = country_df[country_df['summed'].notnull()]

    overlap[country_name] = set()

    for valid_file in valid_files['summed']:
        if valid_file in filing_dict:
#             print(filing_dict[valid_file].state())
            state = filing_dict[valid_file].state()
            if state !=None:
                overlap[country_name].add(filing_dict[valid_file].state())
overlap

# draw Digraph
d= graphviz.Digraph()
for country, states in overlap.items():
    for state in states:
        d.edge(country,state)
d

In [ ]:
#q14
address_counter = {}

for file in filing_dict:
    addresses = filing_dict[file].addresses
    if addresses !=None:
        counter_df = temp_df.loc[temp_df['summed'] ==file]
        
#         print(counter_df[0])
        for address in addresses:
#             print(address)
            if not address in address_counter:
                address_counter[address] = 0
            address_counter[address] += int(counter_df[0])

#             print(counter_df)
filtered_address_counter={}

for new_key, new_value in address_counter.items():
   
   if new_value >=225:
        filtered_address_counter[new_key]=new_value
filtered_address_counter

In [ ]:
address_counter

In [ ]:
#q15
import geopandas as gpd
import matplotlib as plt
from shapely.geometry import Polygon, box, Point
import pandas as pd

locations = gpd.read_file("locations.geojson")

addr_count = pd.DataFrame(address_counter.items())
addr_count =addr_count.rename(columns={0: "address", 1:"count"})

merged_locations = locations.merge(addr_count, on='address',how='left' )

us_map = gpd.read_file("shapes/cb_2018_us_state_20m.shp")
us_window = box(-130,20,-55,50)
new_us = us_map[us_map.intersects(us_window)].to_crs("EPSG: 3395")
new_df = merged_locations[merged_locations.intersects(us_window)].to_crs("EPSG:3395").sort_values(by="count")

ax=new_us.plot(color = "lightgray", figsize=(10,7))
ax=new_df.plot(ax=ax, column="count",legend =True, cmap="plasma")
ax.set_title("Frequency of Request Visited by Address in the U.S.")